/* * {
  outline: 0;
}
.product-item {
  position: relative;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.product__img {
  position: relative;
  overflow: hidden;
  height: 270px;
  width: 270px;
}
.product-item .product__action {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.btn__rounded {
  border-radius: 50px;
}
.btn__primary {
  color: #fff;
  background-color: #21cdc0;
}
.product__price {
  display: inline-block;
  font-size: 19px;
  font-weight: 700;
  color: #21cdc0;
}
.product__title a {
  color: #0e204d;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
.product-item:hover .product__action {
  opacity: 1;
  bottom: 30px;
}
.btn i,
.btn span {
  margin: 0 3px;
}
.btn:not(.btn__link):not(.btn__outlined):hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .btn:not(.btn__link) {
    font-size: 13px;
    min-width: 120px;
    height: 40px;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}
.mb-30 {
  margin-bottom: 30px !important;
}
@media (max-width: 992px) {
  .mb-30 {
    margin-bottom: 15px !important;
  }
}

section {
  position: relative;
  padding-top: 110px;
  padding-bottom: 110px;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
@media (min-width: 320px) and (max-width: 767px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
} */
/* NEW CSS---------------------------------------------------------------------------------- */

section {
  position: relative;
  padding-top: 110px;
  padding-bottom: 110px;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.product-item {
  position: relative;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.product__img {
  position: relative;
  overflow: hidden;
}
.product__img img {
  border-radius: 6px;
}
img {
  max-width: 100%;
}
.product-item .product__action {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.btn {
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  font-size: 15px;
  font-weight: 700;
  min-width: 170px;
  height: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 0 15px;
  border: 0;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn__primary {
  color: #fff;
  background-color: #21cdc0;
}
.btn__rounded {
  border-radius: 50px;
}
.btn:not(.btn__link):not(.btn__outlined):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #213360;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transition: transform 0.24s cubic-bezier(0.37, 0.31, 0.31, 0.9);
  -webkit-transition: -webkit-transform 0.24s
    cubic-bezier(0.37, 0.31, 0.31, 0.9);
  transition: -webkit-transform 0.24s cubic-bezier(0.37, 0.31, 0.31, 0.9);
  transition: transform 0.24s cubic-bezier(0.37, 0.31, 0.31, 0.9);
  transition: transform 0.24s cubic-bezier(0.37, 0.31, 0.31, 0.9),
    -webkit-transform 0.24s cubic-bezier(0.37, 0.31, 0.31, 0.9);
}
.btn i,
.btn span {
  margin: 0 3px;
}
.product-item .product__info {
  padding: 28px 0;
}
.product-item:hover .product__action {
  opacity: 1;
  bottom: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0e204d;
  font-family: Quicksand, sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}
h4 {
  font-size: 32px;
}
.product__title {
  font-size: 21px;
  margin-bottom: 8px;
}
a {
  color: #21cdc0;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.product__title a {
  color: #0e204d;
}
.product__title a {
  color: #0e204d;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
.product__price {
  display: inline-block;
  font-size: 19px;
  font-weight: 700;
  color: #21cdc0;
}
@media (min-width: 320px) and (max-width: 767px) section {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 992px) .mb-30 {
  margin-bottom: 15px !important;
}
