.pb-40 {
  padding-bottom: 40px !important;
}
.pb-40 {
  padding-bottom: 40px px !important;
}
section {
  position: relative;
  padding-top: 110px;
  padding-bottom: 110px;
}
.alert-primary {
  padding: 30px;
  color: #21cdc0;
  background-color: #def8f6;
  border-color: transparent;
  border-radius: 15px;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.alert-primary .alert__title {
  font-size: 19px;
}
h3 {
  font-size: 38px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0e204d;
  font-family: Quicksand, sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}
a {
  color: #21cdc0;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.btn {
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  font-size: 15px;
  font-weight: 700;
  min-width: 170px;
  height: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 0 15px;
  border: 0;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn__secondary {
  color: #fff;
  background-color: #213360;
}
.btn__rounded {
  border-radius: 50px;
}
.btn__secondary:before {
  background-color: #21cdc0 !important;
}
.product__img {
  position: relative;
  overflow: hidden;
}
img {
  max-width: 100%;
}
.product__img img {
  border-radius: 6px;
}
.product-item-single .product__img img {
  border-radius: 15px;
}
.product-item-single .product__title {
  font-size: 29px;
  margin-bottom: 15px;
}

.product__title {
  font-size: 21px;
  margin-bottom: 8px;
}
.product__meta-review {
  font-size: 14px;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.product-item-single .product__rating {
  margin-right: 37px;
}
.product-item-single .product__rating i.active {
  color: #21cdc0;
}

.product-item-single .product__rating i {
  font-size: 15px;
}
.fa,
.fas {
  font-weight: 900;
}

.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free";
}
.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-star:before {
  content: "\f005";
}
.product__meta-review a:before {
  content: "/";
  position: absolute;
  top: 0;
  left: 0;
}
.product-item-single .product__price {
  font-size: 22px;
}

.product__price {
  display: inline-block;
  font-size: 19px;
  font-weight: 700;
  color: #21cdc0;
}
.product-item-single .product__desc {
  font-size: 15px;
}
.quantity__input-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 80px;
  max-height: 50px;
  border-radius: 6px;
  border: 2px solid #e6e8eb;
}

.mr-20 {
  margin-right: 20px !important;
}
* {
  outline: 0;
}
.quantity__input-wrap .decrease-qty {
  bottom: 0;
  border-top: 2px solid #e6e8eb;
}

.quantity__input-wrap i {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #0e204d;
  cursor: pointer;
  position: absolute;
  right: 0;
  font-style: normal;
  font-size: 9px;
  border-left: 2px solid #e6e8eb;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.fa-minus:before {
  content: "\f068";
}
.quantity__input-wrap .qty-input {
  background-color: transparent;
  text-align: center;
  color: #0e204d;
  font-weight: 600;
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  border: 0;
  outline: 0;
}
.fa-plus:before {
  content: "\f067";
}
.product__meta-details li span:first-of-type {
  font-family: Quicksand, sans-serif;
  color: #0e204d;
  font-weight: 700;
  font-size: 16px;
}
.social-icons {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}
.product-item-single .social-icons li a {
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.social-icons li a {
  position: relative;
  z-index: 2;
  display: block;
  width: 23px;
  height: 23px;
  line-height: 23px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #213360;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.social-icons li {
  margin-right: 10px;
}
a {
  color: #21cdc0;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.fa-facebook-f:before {
  content: "\f39e";
}
.fa-instagram:before {
  content: "\f16d";
}
@media (max-width: 992px) {
  .mt-100 {
    margin-top: 50px !important;
  }
}
.mt-100 {
  margin-top: 100px !important;
}

.product__details .nav-tabs {
  border-bottom: 2px solid #e6e6e6;
}

.nav-tabs {
  border-bottom: none;
}
.product__details .nav-tabs .nav__link {
  margin-bottom: -2px;
}

@media (max-width: 992px) {
  .mb-40 {
    margin-bottom: 20px !important;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 992px) {
  .pb-40 {
    padding-bottom: 20px !important;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .btn:not(.btn__link) {
    font-size: 13px;
    min-width: 120px;
    height: 40px;
  }
}
